.App {
  font-family: sans-serif;
  text-align: center;
}

.Widgets {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Counter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
